# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# Streamlit local files and secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Python
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Pytest
.pytest_cache/
.coverage

#Backup
app_backup.py